@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family:'Helvetica Neue';
    src: url('./font/HelveticaNeue.ttc');
  }


/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue';
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

::-webkit-datetime-edit-text {
  color: gray;
  padding: 0 0.3em;
}

::-webkit-datetime-edit-month-field {
  color: gray;
}

::-webkit-datetime-edit-day-field {
  color: gray;
}

::-webkit-datetime-edit-year-field {
  color: gray;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url('./images/calendar.svg') no-repeat;
  padding-right: 1rem;
  width: 20px;
  height: 20px;
  border-width: thin;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove default arrow */
  background-image: url(./images/select.svg);
  background-repeat: no-repeat;
  background-position: 340px;
 
}